html {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 1920px;
  position: relative;
  background-color: #201636;
  margin: 0;
}

.firstscreen {
  position: relative;
  width: 1629px;
  height: 831px;
  margin-top: 238px;
  margin-left: 61px;
}

.firstscreen-images {
  width: 1229px;
  position: relative;
}

.elipse__inner1 {
  position: absolute;
  width: 529px;
  height: 529px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  top: 163px;
  left: 232px;
}

.elipse__inner2 {
  position: absolute;
  width: 477px;
  height: 477px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  top: 189px;
  left: 258px;
}

.elipse__inner3 {
  position: absolute;
  width: 443px;
  height: 443px;
  border-radius: 50%;
  border: 30px solid #FFFFFF;
  box-sizing: border-box;
  top: 206px;
  left: 275px;
}

.elipse__inner4 {
  position: absolute;
  width: 286px;
  height: 286px;
  background: #FFFFFF;
  box-shadow: 0px 0px 250px #5B4787;
  filter: blur(80px);
  top: 297px;
  left: 353px;
}

.firstscreen-image1 {
  position: absolute;
  width: 269px;
  height: 116px;
  background: url(./image/5724c80277c9715467ad49bb.png);
  transform: matrix(-0.99, -0.17, -0.17, 0.99, 0, 0);
  top: 441px;
  left: 535px;
}

.firstscreen-image2 {
  position: absolute;
  width: 1229px;
  height: 767px;
  background: url(./image/Картинка\ 2.png);
  top: 0;
  left: 0;
}

.firstscreen-image3 {
  position: absolute;
  width: 289px;
  height: 124px;
  background: url(./image/5724c80277c9715467ad49bb.png);
  top: 480px;
  left: 114px;
}

.firstscreen-rectangle {
  position: absolute;
  width: 960px;
  height: 197px;
  background: linear-gradient(180deg, #211637 0%, rgba(34, 24, 57, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  top: 579px;
  left: 0;
}

.firstscreen-image5 {
  position: absolute;
  width: 698px;
  height: 323px;
  background: url(./image/95285041_Tuchi_41.png);
  top: 508px;
  left: 212px;
}

h4 {
  position: absolute;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  top: 193px;
  left: 873px;
}

.firstscreen p {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  top: 301px;
  left: 873px;
}

.firstscreen-text p {
  position: absolute;
  width: 678px;
  height: 47px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  top: 442px;
  left: 873px;
  padding-top: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #211637;
  margin: 0;
}

.firstscreen-footer>div {
  display: inline-block;
}

.firstscreen-footer-block {
  position: absolute;
  top: 549px;
  left: 959px;
}

.firstscreen-footer-block>div {
  display: inline-block;
}

.firstscreen-footer-img {
  position: absolute;
  top: 521px;
  left: 861px;
  margin-top: 15px;
  margin-left: 20px;
}

.firstscreen-footer-text {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.firstscreen-footer-curveball {
  margin-left: 30px;
  margin-bottom: 5px;
  position: relative;
  width: 92px;
  height: 24px;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 70px;
  border: solid 1px rgb(255, 255, 255);
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  border-radius: 60%/88% 100% 0 0;
  transform: rotate(0deg);
  margin-left: 29px;
  margin-top: 2px;
}

.line1 {
  position: absolute;
  top: -31px;
  left: 0;
  width: 50px;
  height: 53px;
  border: solid 1px rgb(255, 255, 255);
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  border-radius: 54%/100% 100% 0 0;
  transform: rotate(180deg);
}

.firstscreen-footer-button {
  position: absolute;
  top: -4px;
  left: 275px;
}

.firstscreen-footer-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1F1F1F;
  width: 300px;
  height: 56px;
  background: #F09F0C;
  box-shadow: 0px 4px 20px #7D5103;
  cursor: pointer;
}

.secondscreen {
  position: absolute;
  width: 1920px;
  height: 797px;
  background: url("./image/shutterstock_1059416720.png");
  top: 743px;
}

.secondscreen__row {
  margin-top: 129px;
  display: flex;
  justify-content: center;
}

.secondscreen__content {
  max-width: 370px;
  min-height: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.secondscreen-img {
  margin-bottom: 28px;
}

.secondscreen-img img {
  width: 370px;
  margin: 0 auto;
}

.secondscreen__element {
  padding: 0px 16px;
}

.secondscreen_gradient1 {
  position: absolute;
  width: 1920px;
  height: 197px;
  background: linear-gradient(180deg, #211637 0%, rgba(34, 24, 57, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 0;
  left: 0;
}

.secondscreen_gradient2 {
  position: absolute;
  width: 1920px;
  height: 197px;
  background: linear-gradient(180deg, #211637 18.23%, rgba(34, 24, 57, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  top: 600px;
}

.secondscreen h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #F09F0C;
  margin-bottom: 20px;
}

.secondscreen h3 span {
  color: #FFFFFF;
}

.secondscreen p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
}

.thirdscreen {
  position: absolute;
  width: 1567px;
  height: 853px;
  top: 1227px;
  left: 59px;
}

.thirdscreen-glowimg {
  position: absolute;
  width: 599px;
  height: 599px;
  background: #34215C;
  filter: blur(250px);
  top: 135px;
  left: 180px;
}

.thirdscreen-questionimg {
  position: absolute;
  width: 574px;
  height: 537px;
  background: url(./image/Знак\ вопроса.png);
  top: 43px;
}

.thirdscreen-manimg {
  position: absolute;
  width: 496px;
  height: 737px;
  background: url(./image/Мужчина.png);
  top: 116px;
  left: 275px;
}

.thirdscreen-gradient {
  position: absolute;
  width: 548px;
  height: 241px;
  background: linear-gradient(180deg, #211637 29.83%, rgba(34, 24, 57, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  top: 615px;
  left: 249px;
}

.thirdscreen-nav {
  position: absolute;
  width: 693px;
  height: 598px;
  top: 193px;
  left: 874px;
}

.thirdscreen-nav li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  list-style-type: none;
  padding: 10px 50px;
  background-image: url(./svg/Arrow.svg);
  background-repeat: no-repeat;
  background-position: right 100% bottom 75%;
}