html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
   
}

header {
    width: 1920px;
    height: 740px;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.menu-gamburger {
    width: 50px;
    height: 50px;
    background: #F7654A;
    float: right;
}

.menu-gamburger-line {
    width: 21px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.menu-gamburger-line:nth-child(1) {
    margin: 14px 14px 5px 14px;
}

.menu-gamburger-line:nth-child(2) {
    margin: 5px 14px;
}

.menu-gamburger-line:nth-child(3) {
    margin: 5px 14px;
}

h1 {
    text-align: center;
    margin-top: 192px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.numbers {
    width: 1110px;
    height: 300px;
    position: absolute;
    top: 590px;
    left: 405px;
    background: #F7F7F7;
}

.numbers__block {
    margin: 0 auto;
    width: 850px;
    text-align: center;
    margin-top: 57px;
}

.numbers__item {
    width: 190px;
    height: 186px;
    display: inline-block;
}
.numbers__item:nth-child(2) {
    margin: 0 15px;
}
.numbers__item:nth-child(3) {
    margin: 0 15px;
}

.numbers__item p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
    margin: 0;
}

.numbers__item p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.numbers__item p:nth-child(3) {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
    text-transform: none;
    margin: 0;
}

.project {
    width: 1110px;
    height: 681px;
    position: relative;
    top: 250px;
    left: 405px;
   
}
h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.project__block {
    text-align: center;
}
.project__arena {
    width: 350px;
    height: 578px;
    display: inline-block;
}
.project__arena:nth-child(2) {
    margin: 0 25px;
}
.project__rect {
    border: 3px solid #F7654A;
    width: 55px;
    margin-top: 45px;
    background: #F7654A;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    text-align: left;
}
.project__arena p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    text-align: left;
    text-transform: none;
}

footer {
    position: relative;
    width: 1920px;
    height: 181px;
    top: 400px;
    background: #F7654A;
}
.footer__text {
    position: relative;
    width: 50%;
    top: 37px;
    
}
.footer__text p{
    text-align: left;
    margin: 0;
}
.footer__text p:nth-child(1) {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer__text p:nth-child(2) {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}
.footer__button {
    width: 100%;
    top: -42px;
    position: relative;
    text-align: end;
   
}
button {
    width: 175px;
    height: 49px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    
    color: #000000;
    
    cursor: pointer;
}
button i::before {
    margin-right: 10px;
}
