/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body {
    height: 100%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/*--------------------*/

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*--------------------*/
[class*="__container"] {
    max-width: 800px;
    margin: 0 auto;
    
}
header,
nav,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    min-height: 200px ;
    border: 2px solid red;
}

main {
    width: 100%;
    display: flex;
    min-height: 400px;
}
nav {
    width: 12.5%;
    min-height: 100%;
    border: 2px solid orange;
}
section {
    width: 87.5%;
    min-height: 100%;
    border: 2px solid orange;
    flex-direction: column;
    gap: 50px;
}

footer {
    width: 100%;
    min-height: 200px ;
    border: 2px solid grey;
    flex-direction: column;
    justify-content: flex-start;
}
/*--------------------*/
.prompt {
    display: flex;
}
.prompt p {
    margin-right: 20px;
    font-weight: 700;
}
.number {
    display: flex;
    width: 100%;
}
.number-item {
    width: 33.333%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.number-item p {
    margin-right: 30px;
    font-weight: 700;
}
.one {
    background-color: aquamarine;
}
.two {
    background-color: bisque;
}
.three {
    background-color: cornflowerblue;
}
.number-average {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 3em;
}