@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('./fonts/MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/MyriadPro-Regular.woff') format('woff'),
    url('./fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

html {
    font-family: 'Myriad Pro Regular';
    
}
body {
    margin: 0;
}

.wrapper {
    width: 750px;
    height: 1879px;
    overflow: hidden;
}
.header {
    position: relative;
    width: 100%;
    height: 235px;
    background-color: rgb(45, 112, 83);
    z-index: 2;
}
.header__block {
    
    position: absolute;
    width: 667px;
    height: 141px;
    top: 47px;
    left: 38px;
}

.header__ellipse {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
}

.header__text {
    width: 135px;
    height: 141px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    margin-left: 57px;
   
  }
  .menu__burger {
      width: 84px;
      height: 68px;
      display: inline-block;
     margin-bottom: 36px;
     margin-left: 243px;
      

  }

  .menu__burger-line {
      width: 84px;
      height: 12px;
      border-radius: 5px;
      background-color: #fff;
      
  }

  .menu__burger-line:nth-child(2) {
    margin: 16px 0;
}

.block__photo {
    position: relative;
    width: 100%;
    height: 466px;
    background-image: url(./img/background\ image.jpg);
    background-repeat: no-repeat;
}
.block__opacity {
    position: absolute;
    width: 100%;
    height: 466px;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    top: -20px;
    left: 9px;
    z-index: 1;
    
}
.block__button {
    position: absolute;
    width: 341px;
    height: 74px;

    left: 218px;
    top: 350px;
    z-index: 3;
    text-align: center;
    
    cursor: pointer;
}

button {
    font-family: 'Myriad Pro Regular';
   
    background: rgb(203, 146, 35);
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 341px;
    height: 74px;

  
    
    text-transform: uppercase;
    
    
    border: none;
}

.avatar {
    position: absolute;
    width: 255px;
    height: 276px;
    top: 750px;
    left: 40px;
}
.name {
    margin-left: 362px;
    margin-top: 125px;
}
.name h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 30px;
}

.name p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.description {
    margin-left: 40px;
    margin-top: 100px;
}
.description p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.reasons {
    margin-left: 40px;
}

.reasons h2 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.reasons li {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    list-style-type: none;
}
.reasons li::before {
    content:"-";
	position:relative;
	left:-5px;
}
.reasons ul {
    padding-left: 5px;
}
.block__btn {
    margin-top: 50px;
    margin-left: 215px;
}
footer {
    width: 100%;
    height: 153px;
    background-color: rgb(136, 136, 136);
    margin-top: 70px;
  
}

.footer__avatar {
    width: 96px;
    height: 96px;
    background: #ffffff;
    border-radius: 50%;
    margin-top: 28px;
    margin-left: 40px;
    display: inline-block;
}
.footer__adress {
    width: 200px;
    height: 20px;
    display: inline-block;
    margin-left: 180px;
}
 .footer__contact {
     position: relative;
     top: -15px;
     display: inline-block;
     margin-left: 40px;
     
     
    
 }
 .footer__contact p {
     text-align: right;
 }
 .footer__contact a {
     text-decoration: none;
     cursor: pointer;
 }


  





















  
  