/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

header {
    width: 1920px;
    margin: 0 auto;
    flex: 0 1 auto;
}
main {
    width: 1920px;
    margin: 0 auto;
    flex: 0 1 auto;
}
footer {
    width: 1920px;
    margin: 0 auto;
    flex: 0 1 auto;
    
}
/* --------- HEADER -------------------------------------------*/

.header-bg {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-bottom: 1px solid #C4C4C4;
}

.container {
    display: flex;
    width: 1218px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 77px;
}

.header-input {
    width: 500px;
    margin-left: -160px;
}

.header-input input {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A1A1A1;
    padding: 13px 0 13px 35px;
}

.header-input i {
    position: absolute;
    padding: 13px 0 13px 13px;
    font-size: 21px;
}

.header-button {
    display: flex;
    justify-content: end;
}

.btn {
    font-family: inherit;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.header-button .signin {
    background: #EF781A;
}

.header-button .shopping {
    background: #00D008;
    margin-left: 30px;
}
/* --------- MAIN -------------------------------------------*/

.main-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECECEC;
}
form {
    flex: 0 1 26%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    margin: 70px 0 60px 0;
}
.form-container {
    margin: 0 auto;
    width: 282px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  
}
.form-cancel {
    align-self: flex-end;
    
}
.form-cancel input {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #BEBEBE;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 6px 7px;
    background: #ffffff;
}
.form-inner {
    margin-top: 32px;
    margin-left: 21px;
}
.form-input {
    margin-top: 20px;
}
.form-input:first-child {
    margin-top: 0;
}

.form-input label{
    display: block;
    margin-bottom: 8px;
}
.form-input input, 
.form-input textarea {
    width: 235px;
    resize: none;
}
.form-button {
    margin-top: 222px;
}
.form-button .btn {
    width: 100%;
}
.form-button .order {
    background: #04BE00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}
.form-button .signout {
    background: #DF0D00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 20px 0;
}

.main-table {
    flex: 0 1 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-balance-bg {
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.main-balance {
    margin-left: 29px;
}
.main-balance p:first-child{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.main-balance h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin: 9px 0 11px 0;
}
h2 > span {
    color: #A0A0A0;
}
h2 + p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #443E3E;
}

.main-orders {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-orders-article {
    margin-top: 21px;
    margin-left: 29px;
    margin-bottom: 27px;
}

.main-orders-article h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.main-orders-container {
    margin: 0 auto;
    width: 97%;
    }

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
   
}

th, td {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
   
}
.main-orders-list {
    width: 100%;
    height: 455px;
    background: #F3F3F3;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-curent-orders {
    background: #EAEAEA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 170px;
    height: 35px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 29px;
}
.main-curent-orders p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #757575;
}
.inner {
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.inner a {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
.inner th:last-child {
    color: #F58020;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
}
.inner th:last-child::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F58020;
    margin-left: -16px;
    margin-top: 2px;
    position: absolute;
}
.inner td:last-child {
    color: #69A042;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
}
.inner td:last-child::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #69A042;
    margin-left: -16px;
    margin-top: 2px;
    position: absolute;
}

/* --------- FOOTER -------------------------------------------*/

.footer-bg {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}
.footer-nav li {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}
.footer-nav li:nth-child(1) {
    margin: 0;
}
.footer-smm li {
    display: inline-block;
    margin-right: 20px;
}
.footer-smm li:nth-child(3) {
    margin: 0;
}

.smm-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    
}
.smm-link {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 12px;
    display: inline-block;
    
}
.telegram {
    background: #2F89CE;
}
.facebook {
    background: #4E6297;
}
.instagram {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}