html,
body {
    font-family: 'Raleway', sans-serif;
}
body {
    max-width: 1920px;
    margin: 0 auto;
}
/* --------- HEADER -------------------------------------------*/
header {
    width: 1920px;
    height: 118px;
    background-color: #F8F4FC;
    display: flex;
    justify-content: center;
    
}

.header__container {
    width: 1288px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    margin-left: 90px;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
}
nav li:nth-child(1) {
    margin: 0;
}
nav ul {
    padding-left: 0;
}
.user {
    margin-left: 364px;
    
}
.user a {
    margin-left: 34px;
    
}
.user i {
    font-size: 18px;
    color: #354657;
}
.user a:nth-child(1) {
    margin: 0;
}

.bg__photo img {
    position: absolute;
    top: 659px;
    left: 1191px;
    z-index: 1;
}
/* --------- MAIN -------------------------------------------*/

h1 {
    width: 1920px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #354657;
    margin-top: 70px;
}
.main__container {
    width: 740px;
    margin-left: 526px;
}
.main__photo {
    margin-top: 40px;
    height: 360px;
}
.main__container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #354657;
    margin-top: 40px;
}

.main__cite {
    border-left: 4px solid #946FD3;
    height: 139px;
}
.main__cite img {
    margin-left: 23px;
    margin-top: 5px;
}
.main__cite blockquote{
    margin-left: 23px;
    margin-top: -30px;
}
.main__cite p {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7D7D7D;
}
hr {
    margin-top: 30px;
    border-color: #E2E2E2;
}
.main__footer p {
    margin-bottom: 5px;
}
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 470px;
    height: 30px;
    justify-content: space-between;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 25px;
    border-radius: 2px;
    transition: .4s;
}
.fb {
    background: #3b5998;
    
}
.nav-link i::before{
    margin-right: 7px;
    color: #ffffff;
    font-size: 12px;
}
.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.tw {
    background:  #00acee;
}
.pin {
    background: #dc143c;
}
.mail {
    background: #86888b;
}
.fa-solid {
    font-size: 12px;
}
.more {
    background: #FF7F50;
}
.nav-item:hover {
    width: 100px;
    height: 30px;
    border-radius: 3px;
}
/* --------- FOOTER -------------------------------------------*/


footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    margin-top: 100px;
    width: 1920px;
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    z-index: 2;
    
}
.footer__container {
    width: 1288px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.smm-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 208px;
    height: 35px;
    justify-content: space-between;
    margin-left: 320px;
}
.logo2 {
    margin-left: 40px;
}
.smm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #354657;
    transition: .4s;
}
.smm-link {
    color: #FFFFFF;
}
.smm-item:hover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
}
.facebook:hover {
    background: #3b5998;
}
.pinterest:hover {
    background: #dc143c;
}
.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.youtube:hover {
    background: #FF0000;
}
.linkdin:hover {
    background: #0072b1;
}
