p {
    background: green;
}
h4 {
    background: blue;
}
div + p {
    color: blue;
}
ul > li {
    color: brown;
}
div h4 {
    background: red;
}
p ~ h4 {
    background: yellow;
}
/* <a> elements with a title attribute */
a[title] {
    color: purple;
  }
  
  /* <a> elements with an href matching "https://example.org" */
  a[href="https://example.org"] {
    color: green;
  }
  
  /* <a> elements with an href containing "example" */
  a[href*="example"] {
    font-size: 2em;
  }
  
  /* <a> elements with an href ending ".org" */
  a[href$=".org"] {
    font-style: italic;
  }
  
  /* <a> elements whose class attribute contains the word "logo" */
  a[class~="logo"] {
    padding: 2px;
  }
  .test {
      background: rgb(54, 52, 52);
      width: 200px;
      height: 200px;
  }
  
 
  .ellipse__border {
    width: 600px;
    height: 600px;
    background: #201636;
    position: relative;
  }
  .elipse__inner1 {
    position: absolute;
    width: 529px;
    height: 529px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    top: 35px;
    left: 35px;
  }
  .elipse__inner2 {
    position: absolute;
    width: 443px;
    height: 443px;
    border-radius: 50%;
    border: 30px solid #FFFFFF;
    box-sizing: border-box;
    top: 78px;
    left: 78px;
  }
  .elipse__inner3 {
    position: absolute;
    width: 286px;
    height: 286px;
    background: #FFFFFF;
    box-shadow: 0px 0px 250px #5B4787;
    filter: blur(80px);
    top: 157px;
    left: 157px;
    
  }

    /*            ---LINE CURVE---                                    */
.container {
  position: relative;
  width: 400px;
  height: 400px;
}
  .line1{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: solid 1px rgb(24, 23, 23);
    border-color: rgb(20, 20, 20) transparent transparent transparent;
    border-radius: 70%/110% 100% 0 0;
    transform: rotate(0deg);
    margin-left: 90px;
    margin-top: 90px;
  }
  .line{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border: solid 1px rgb(24, 23, 23);
    border-color: rgb(20, 20, 20) transparent transparent transparent;
    border-radius: 80%/100% 100% 0 0;
    transform: rotate(180deg);
   
  }
  