/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    font-size: 16px;
}

/*--------------------*/
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

/*--------------------*/
[class*="__container"] {
    max-width: 1311px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

header {
    border: 1px solid #E2E2E2;
}

main {
    flex: 1 1 auto;
}

footer {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    
}

/* --------- HEADER -------------------------------------------*/
.header__container {
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    
}
.header-nav {
    flex: 1 1 auto;
    margin-left: 10%;
}
.header-menu {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.header-menu a {
    color: #354657;
    line-height: 19px;
    font-weight: 700;
}
.menu-user {
    gap: 34px;
}

/* --------- MAIN -------------------------------------------*/

/* --------- section banner -----------*/
.banner{
    background-image: url(/img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}
.banner__container {
    display: flex;
    min-height: 600px;
    align-items: center;
}
.banner-text { 
    color: #FFFFFF;
    -webkit-animation: animateBanner 3s linear ;
    animation: animateBanner 3s linear ;
    
}
@keyframes animateBanner {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}
.banner-text h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}
.banner-text p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.button {
    margin-top: 40px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 19px;
    font-weight: 700;
    padding: 17px 43px;
    background: #946FD3;
    border-radius: 50px;
}

/* --------- section frame -----------*/
.frame {
    margin-top: 46px;
}
.frame__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:visible;
}
.frame-text {
    max-width: 45%;
}
.frame-text h5 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #354657;
}
.frame-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #354657;
    margin-top: 2em;
}
.frame-block {
    position: relative;
}
.frame-photo {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}
.frame-bg {
    width: 100%;
    min-height: 497px;
    background-color: #F0E5FF;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

/* --------- section proposal -----------*/

.proposal {
    margin-top: 50px;
    width: 100%;
    min-height: 380px;
    position: relative;
    display: flex;
    align-items: center; 
}
.proposal-bg {
    width: 100%;
    height: 269px ;
    background: #F0E6FF;
    display: flex;
}
.proposal__container {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: visible;
}
.proposal-block {
    position: relative;
    width: 416px;
    min-height: 381px;
    margin-right: 15%;
}
.proposal-img {
    position: absolute;
}
.image1 {
    top: 97px;
    left: 0;
    -webkit-animation: rotateFirst 6s linear infinite;
    animation: rotateFirst 6s linear infinite;
}
@keyframes rotateFirst {
    from
    {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.image2 {
    top: 0;
    left: 133px;
    animation: rotateSecond 6s ease-in-out infinite;
}
@keyframes rotateSecond {
    from
    {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.proposal-text p {
    color: #946FD3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.proposal-text h4 {
    color: #354657;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
}
/* --------- section blog -----------*/

.blog h4 {
    color: #354657;
    text-align: center;
    line-height: 42px;
    font-size: 36px;
    font-weight: 700;
}
.card-title {
    color: #354657;
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}
.card-text {
    color: #354657;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}
.card-group {
    gap: 26px;
    margin: 50px 0;
    
}
.card {
    border: none;
    transition: all  linear 0.5s;
    padding-bottom: 30px;
    
}

.card .banner-button {
    margin-left: 14px;
    
}
.card .banner-button a {
    background: none;
    color: #946FD3;
    border: 1px solid #946FD3; 
}
.card:hover {
    transition: all  linear 0.5s;
    background-color: #946FD3;
    -webkit-animation: rotateCard 1s linear;
    animation: rotateCard 1s linear;
}
@keyframes rotateCard {
    from
    {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.card:hover a {
    background: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF; 
}
.card:hover h5 {
    color: #FFFFFF;
}
.card:hover p {
    color: #FFFFFF;
}

/* --------- FOOTER -------------------------------------------*/

.footer__container {
    max-height: 100px;
    display: flex;
    align-items: center;
}
.footer-logo {
    flex: 0 0 28%;
}
.footer-nav {
    flex: 0 0 36%;
}
.footer-smm {
    flex: 0 0 36%;
}
.footer-menu {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 15px;
}
.footer-menu a {
    color: #354657;
    line-height: 19px;
    font-weight: 700;
}
.smm-menu {
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    margin: 0;
    padding: 0;
}



.smm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #354657;
    transition: .4s;
}

.smm-link {
    color: #FFFFFF;
}

.smm-item:hover {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    font-size: 20px;
    
}
.smm-item:hover i {
    color: #FFFFFF;
}

.facebook:hover {
    background: #3b5998;
}

.pinterest:hover {
    background: #dc143c;
}

.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.youtube:hover {
    background: #FF0000;
}

.linkdin:hover {
    background: #0072b1;
}
