html,
body {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

/* --------- HEADER -------------------------------------------*/
header {
    width: 1920px;
    height: 118px;
    background-color: #F8F4FC;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 1288px;
}

.header-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 22%;
}

nav {
    width: 39%;
    text-align: end;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
    cursor: pointer;
}

nav li:nth-child(1) {
    margin: 0;
}

nav ul {
    padding-left: 0;
}

.user {
    width: 39%;
    text-align: end;
}

.user a {
    margin-left: 34px;
}

.user i {
    font-size: 18px;
    color: #354657;
}

.user a:nth-child(1) {
    margin: 0;
}

.header-list a {
    color: #626262;
}

.header-list a:last-child {
    text-decoration: none;
}

/* --------- MAIN -------------------------------------------*/
main {
    width: 1920px;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #354657;
    margin-top: 71px;
    margin-bottom: 17px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
}

.form-left {
    flex-basis: 30%;
}
.form-signin {
    width: 100%;
    height: 113px;
    background: #F0F2F5;
    display: flex;
    justify-content: center;
}
.form-container {
    width: 90%;      
}
.top input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
}
.form-container h3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #354657;
}
.form-data {
    width: 100%;
    margin-top: 30px;
    background: #F0F2F5;
    display: flex;
    justify-content: center;
}
.form-data-input {
    margin-top: 20px;
}
.form-data-input:last-child {
    margin-bottom: 30px;
}
.form-data-input label,
.form-data-input input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.form-data-input label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #354657;
    margin-bottom: 10px;
}
.form-data-input input {
    padding: 11px 95px 11px 20px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}
.form-data-input input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ADA8A8;
}


.form-right {
    flex-basis: 67%;
}
.pay {
    margin-top: 30px;
}
table,
th,
td {
   
    border-collapse: collapse;
}
table {
    width: 100%;
    table-layout: fixed;
}
thead tr {
    background: #F0F2F5;
}
th {
    height: 41px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #354657;
    text-align: left;
}
tr th, tr td {
   padding-left: 15px;
}
 h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #354657;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #354657;
}
td #number {
    width: 3.5em;
    height: 33px;
    box-sizing: border-box;
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    text-align: center;
}

td #number::-webkit-inner-spin-button {
    opacity: 1;
  }
.btn {
    width: 33px;
    height: 33px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.reload {
    background: #946FD3;
}
.close {
    background: #F83737;
}
.final-text {
    height: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #354657;
}
.cost {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #354657;
    text-align: left;
}
.bg {
    background: #FAFAFA;
}
.form-finish {
    width: 100%;
    background: #F0F2F5;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.form-finish-container {
    width: 95%;
}
textarea {
    resize: none;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 3px;
}


 .textarea label {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #354657;
    margin-bottom: 10px;
}
.textarea textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ADA8A8;
    padding-left: 11px;
    padding-top: 9px;
}
.form-checkbox {
    margin-top: 16px;
    position: relative;
    margin-left: 31px;
}
.form-checkbox label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
}
.button-finish {
    margin-top: 29px;
    text-align: right;
    margin-bottom: 30px;
}
.button-finish input {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #946FD3;
    border-radius: 50px;
    width: 206px;
    height: 54px;
    border: none;
    cursor: pointer;
}

/* --------- STYLE THE RADIO BUTTON -------------------------------------------*/


.form-radio {
    display: inline-block;
    position: relative;
    margin-left: 31px;
    
}
.form-radio label {
    cursor: pointer;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] +  label {
    position: absolute;
    top: 1px;
    left: -25px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #946FD3;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
input[type="radio"]:checked +  label {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #946FD3;
    box-sizing: border-box;
}
input[type="radio"] +  label::after {
    content: "";
    position: absolute;
    display: none;
}
input[type="radio"]:checked +  label::after {
    display: block;
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #946FD3;
}

/* --------- STYLE THE CHECKBOX BUTTON -------------------------------------------*/
.form-checkbox label {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] +  label {
    position: absolute;
    top: 1px;
    left: -25px;
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    box-sizing: border-box;
}
input[type="checkbox"]:checked +  label {
    background: #946FD3;
}
input[type="checkbox"] +  label::after {
    content: "";
    position: absolute;
    display: none;
}
input[type="checkbox"]:checked +  label::after {
    display: block;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    
}

/* --------- FOOTER -------------------------------------------*/

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98px;
    margin-top: 100px;
    width: 1920px;
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    z-index: 2;
}

.footer__container {
    width: 1288px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smm-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 208px;
    height: 35px;
    justify-content: space-between;
    margin-left: 320px;
}

.logo2 {
    margin-left: 40px;
}

.smm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #354657;
    transition: .4s;
}

.smm-link {
    color: #FFFFFF;
}

.smm-item:hover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
}

.facebook:hover {
    background: #3b5998;
}

.pinterest:hover {
    background: #dc143c;
}

.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.youtube:hover {
    background: #FF0000;
}

.linkdin:hover {
    background: #0072b1;
}