html {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #131313;
}

.container {
    max-width: 1157px;
    margin: 0 auto;
    position: relative;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.header__logo {
    display: inline-block;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1ACD4C;
    align-items: center;
}

.header__cardnumber {
    display: inline-block;
    height: 26px;
    border-left: 1px solid #272727;
    padding-left: 12px;
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
}

.header__menu {
    display: inline-block;
    margin: 0 0 0 90px;
}

ul li {
    margin: 0px 0px 0px 25px;
    display: inline-block;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
}

li:first-child {
    margin-left: 0px;
}

.active {
    color: #272727;
}

hr {
    border: 1px solid #272727;
}

table,
td {
    border-collapse: collapse;
}

table {
    margin-top: 31px;
    border-top: none;
}

.container1 {
    max-width: 1157px;
    margin: 0 auto;
}

h1 {
    margin-top: 90px;
}

.bg {
    border-left: 1px solid #272727;
    border-right: 1px solid #272727;
    position: relative;
    background-color: #131313;
    z-index: 1;
}

tr {
    border-bottom: 1px solid #272727;
}

th {
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    text-align: left;
    text-transform: uppercase;
}

td {
    padding: 0 20px 0 20px;
    height: 53px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.pagination a {
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}