/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

/*--------------------*/
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

/*--------------------*/
[class*="__container"] {
    max-width: 1218px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid #C4C4C4;
}

main {
    flex: 1 1 auto;
}

footer {
    margin-top: 30%;
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}

/* --------- HEADER -------------------------------------------*/
.header__container {
    display: flex;
    min-height: 100px;
    align-items: center;
    
}

.header__input {
    flex: 1 1 auto;
    margin-left: 10%;
}

.header__input input {
    width: 60%;
    border: 2px solid #323232;
    border-radius: 5px;   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A1A1A1;
    padding: 15px 0 15px 40px;
    background-image: url(/svg/adres\ icon.svg);
    background-repeat: no-repeat;
    background-position: top 50% left 10px;
}

.header__buttons {
    display: flex;
    gap: 30px;
}

.button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button-orange {
    background: #EF781A;
}

.button-green {
    background: #00D008;
}

/* --------- MAIN -------------------------------------------*/
.grid {
    margin-top: 35px;
}
.grid-promo {
    min-height: 380px;
    background: #FFD086;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.promo-text {
    margin-left: 60px;
}
.promo-text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.promo-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000; 
    margin-top: 25px;
}
/*--------------------*/
.grid-section {
    margin-top: 30px;
}
/*--------------------*/
.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-top h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.section-top input {
    width: 40%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A1A1A1;
    padding: 15px 0 15px 45px;
    background-image: url(/svg/magnifiying-glass\ 1.svg);
    background-repeat: no-repeat;
    background-position: top 50% left 10px;
}
/*--------------------*/
.section-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 232px 232px 232px;
    grid-auto-rows: 232px;
    gap: 30px;
    margin-top: 30px;
}
.item {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
   /* border: 1px solid #C4C4C4; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
}
/*--------------------*/
.mac {
    background-image: url(/img/Mac.jpg); 
}
.shares-mac {
    background: #FF800C;
}
.mafia {
    background-image: url(/img/Mafia.jpg);
}
.shares-mafia {
    background: #FF0C0C;
}
.kfc {
    background-image: url(/img/KFC.jpg);  
}
.pizza-house {
    background-image: url(/img/Pizza\ House.jpg);  
}
.rukola {
    background-image: url(/img/Rukola.jpg);  
}
.lviv-croissans {
    background-image: url(/img/lviv\ c.jpg);
}
.mamamia {
    background-image: url(/img/Mamamia.jpg);
}
.hlebnyi {
    background-image: url(/img/hlebnyi.jpg);
}
.timecafe {
    background-image: url(/img/time\ cafe.jpg);
}
.salateira {
    background-image: url(/img/salateira.jpg);
}
.green13 {
    background-image: url(/img/green\ 13.jpg);
}
.vapiano {
    background-image: url(/img/Vapiano.jpg);
}
.papajohn {
    background-image: url(/img/papa\ john.jpg);
}


/*--------------------*/

.item-shares {
    position: relative;
    
}
.item-shares label{
    position: absolute;
    top: 10px;
    left: 11px;
    padding: 11px 21px;
    
    border-radius: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.item-info {
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
    
}
.item-info h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.delivery-icons {
    display: flex;
    gap: 18px;
    margin-top: 14px;
}
.time {   
    background: #FE7D34;
}
.cost {
    background: #00D008;  
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    padding: 3px 4px;
}
.icon p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
/*--------------------*/

.section-shop {
    margin-top: 30px;
}
.fora {
    background-image: url(/img/Fora.jpg);
}
.atb {
    background-image: url(/img/АТБ.jpg);
}
.silpo {
    background-image: url(/img/Silpo.jpg);
}
.eva {
    background-image: url(/img/Eva.jpg);
}
/*--------------------*/

.header-inside {
    background: #F8F4FC; 
}
.inside {
    min-height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inside-top {
    display: flex;
    justify-content: space-between;
}
.inside-nav {
    flex: 1 1 auto;
    align-self: center;
    margin-left: 10%;
}
.inside-menu {
    display: flex;
    gap: 50px;
}
.menu-user {
    gap: 34px;
}
.inside-user {
    align-self: center;
}
.inside-menu li {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
}
.inside-list {
    display: flex;
    gap: 10px;
}
.inside-list a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #626262; 
}
.inside-list a:nth-child(3) {
    text-decoration: underline;
}


/* --------- FOOTER -------------------------------------------*/

.footer__container {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    gap: 20px;
}

.footer-menu li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.smm-menu {
    display: flex;
    gap: 20px;
}

.smm-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.smm-link {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 12px;
    display: inline-block;
}

.telegram {
    background: #2F89CE;
}

.facebook {
    background: #4E6297;
}

.instagram {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}